@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: fantasy;
  /* font-size: 20px; */
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  /* line-height: 26.4px; */
  margin: 0;
  padding: 0;

  /* font-family: "Source Sans Pro", Helvetica, sans-serif; */
  /* font-family: "Cedarville Cursive", cursive; */
  /* font-family: cursive; */
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("./assets/poetlandia.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a:link {
  text-decoration: none;
}
:root {
  --font-size: calc(10px + 1vmin);
}

.word-card {
  display: inline-block;
  border: 2px solid rgb(25, 117, 31);
}

.start-button {
  display: flex;
  justify-content: center;
}
.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgb(1, 10, 1);
  position: relative;
  margin: 0 15%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding: 0 20px;
  float: right;
}
.circle::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 10px;
  margin-top: -5px;
  top: 50%;
  left: 5px;
  right: 5px;
  z-index: 9;
}
.circle::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  width: 10px;
  margin-left: -5px;
  left: 50%;
  top: 5px;
  bottom: 5px;
  z-index: 9;
}
@media only screen and (max-width: 600px) {
  .word-card {
    font-size: 10px;
    border: solid black;
  }
  .circle {
    margin: 1% 0;
  }
  .poem-item {
    /* padding: 100px 0; */
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  input {
    font-size: 16px;
  }
}
h1 {
  margin: 0;
  padding: 0;
}
.title {
  margin: 10px 0;
}
.poem-item {
  margin: 10px;
  display: flex;
  /* justify-content: left; */
  /* padding: 30px; */
  text-align: left;
}

.poem-item-wrapper {
  margin: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  display: inline-block;
  padding: 20px 43px;
}
nav {
  float: right;
  margin: -55px 0;
}

.username {
  display: flex;
  text-align: left;
  margin: 0 15px;
  font-weight: 700;
  font-size: 20px;
}

:is(.header) a:visited {
  color: inherit;
}
:is(.header) a:hover {
  color: rgb(10, 20, 72);
}
.auth-link {
  float: right;
}
@media only screen and (max-width: 700px) {
  .auth-link,
  li {
    font-size: 11px;
    margin: 12px 0;
    padding: 10px 14px;
  }
}
